{% extends 'DisneylanddisneyBundle::layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="col-lg-12"  style="background-color: black;height: 100vh">

    </div>
    <div class="col-lg-12"  style="background-color: black; height: 100vh; margin-top: 200px" >

    </div>
</div>
{% endblock %}