{% extends 'DisneylanddisneyBundle::layout.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {% block titleH1 %}
            {% endblock %}
            <div class="col-lg-8">
                {% block left %}
                {% endblock %}
            </div>
            <div class="col-lg-4">
                {% block right %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}